/* stylelint-disable selector-class-pattern */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  font-size: var(--mobile-font-size);
  background: var(--bg-color);
  color: var(--terciary-color);
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: poppins, sans-serif;
}

a {
  text-decoration: none;
  color: var(--terciary-color);
}

.topbar {
  position: sticky;
}

.topbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mobile-padding);
  flex-direction: row;
}

.theme {
  background: var(--quaternary-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: var(--bg-color) 3px solid;
  cursor: pointer;
}

.theme:hover {
  background: var(--main-color);
  border: var(--main-color) 3px solid;
}

.topbar__burger img {
  color: black;
  display: none;
}

.content {
  padding: var(--mobile-padding);
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.title__OS-button {
  padding: 0.4rem 1rem;
  height: 30px;
  background: var(--quaternary-color);
  width: 50px;
  border-radius: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 10px 0 rgb(0 0 0 / 24%);
}

.shortcuts__container {
  padding: calc(var(--mobile-padding) / 2);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.shortcuts__file {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 60vh;
}

.shortcuts__searcher {
  width: 100%;
  border-radius: 0.5rem;
  background: white;
  display: flex;
  padding: 1rem;
  margin: 0.5rem 0;
  position: sticky;
  top: 0;
  box-shadow: -5px 5px 10px 0 rgb(0 0 0 / 24%);
}

#input-search {
  width: 100%;
  border: none;
  outline: none;
}

.file__section {
  margin-top: 1rem;
  padding-left: calc(var(--mobile-font-size) / 2);
}

.file__section h2 {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: poppins, sans-serif;
  margin-bottom: 0.6rem;
}

.file__section li {
  display: flex;
  flex-direction: column;
  border-bottom: dotted 1px var(--secondary-color);
}

.file__section li p {
  padding: 0.4rem 0;
}

.sidebar {
  display: none;
}

@media screen and (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--quaternary-color);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    border-radius: 0.6rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

  .topbar {
    padding: calc(var(--mobile-padding) * 1.5) 0;
    display: block;
  }

  .topbar__container {
    padding: 0 calc(var(--mobile-padding) * 6);
    max-width: 1600px;
    margin: 0 auto;
  }

  .content {
    padding: calc(var(--mobile-padding) * 1.5) calc(var(--mobile-padding) * 6);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
    grid-column-gap: 3rem;
    max-width: 1600px;
    margin: 0 auto;
  }

  .title {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 1rem;
  }

  .sidebar {
    grid-area: 2 / 1 / 3 / 2;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .shortcuts {
    grid-area: 2 / 2 / 3 / 3;
  }

  .file__section li {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 0;
  }
}
