:root {
  --mobile-padding: 1.2rem;
  --mobile-font-size: 1rem;
  /* --bg-color-light: linear-gradient(172.76deg, #8c52bb -5.42%, #9749da -5.42%, #c766ed 18.52%, #f6f6f9 46.42%, #f6f6f6 46.42%, #f6f6f9 46.43%); */
  --main-color-light: #f6f6f9;
  --secondary-color-light: #db7ede91;
  --terciary-color-light: #0b2034;
  --quaternary-color-light: #6824a0;
  --bg-color-dark: rgba(11, 32, 52, 1);
  --main-color-dark: #0b2034;
  --secondary-color-dark: #db7ede91;
  --terciary-color-dark: #f6f6f9;
  --quaternary-color-dark: #c766ed;
  --logo-color-light: #f6f6f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--bg-color-dark);
    --main-color: var(--main-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --terciary-color: var(--terciary-color-dark);
    --quaternary-color: var(--quaternary-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* --bg-color: var(--bg-color-light); */
    --main-color: var(--main-color-light);
    --secondary-color: var(--secondary-color-light);
    --terciary-color: var(--terciary-color-light);
    --quaternary-color: var(--quaternary-color-light);
  }
}

[color-scheme="dark"] {
  --bg-color: var(--bg-color-dark);
  --main-color: var(--main-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --terciary-color: var(--terciary-color-dark);
  --quaternary-color: var(--quaternary-color-dark);
}

[color-scheme="light"] {
  --bg-color: var(--bg-color-light);
  --main-color: var(--main-color-light);
  --secondary-color: var(--secondary-color-light);
  --terciary-color: var(--terciary-color-light);
  --quaternary-color: var(--quaternary-color-light);
}
